  <h1> <%= @profile.user.username %> Profile Page</h1>
  
  <br/>
  <h3>Welcome <%= @profile.full_name %> to you're profile page</h3>
  <h3>A username of "<%= @profile.user.username %>" has been generated for you!</h3>

  


  <br/>
  
<div class="jumbotron">
  <p>
    <strong>First name:</strong>
    <%= @profile.first_name %>
  </p>
  
  <p>
    <strong>Last name:</strong>
    <%= @profile.last_name %>
  </p>
  
  <p>
    <strong>Country:</strong>
    <%= @profile.country %>
  </p>
  
  <p>
    <strong>Number:</strong>
    <%= @profile.number %>
  </p>
</div>


<%= link_to 'Edit', edit_profile_path(@profile), :class => "btn btn-warning" %> |
<%= link_to 'Delete', profile_path(@profile), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

