<%= form_with(model: balance, local: true) do |form| %>
  <% if balance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(balance.errors.count, "error") %> prohibited this balance from being saved:</h2>

      <ul>
      <% balance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :balance %>
    <%= form.number_field :balance, id: :balance_balance, class: "form-control" %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit "Add", class: "btn btn-primary" %>
  </div>
  <br/>
<% end %>
